In [14]:
import sqlalchemy
import pandas as pd
from Dependencies import credential_db
pd.set_option('display.max_columns', 100)

In [15]:
conn = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.
                                               format(credential_db.db_jatimcamp5_username, 
                                                      credential_db.db_jatimcamp5_password, 
                                                      credential_db.db_jatimcamp5_host, 
                                                      credential_db.db_jatimcamp5_name))

conn

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_production)

In [138]:
query_table = """show tables;"""
df_data_table = pd.read_sql(query_table,conn)
df_data_table

  Tables_in_jatimCamp5_production
0                       calendars
1                        listings
2                         reviews

In [139]:
query_listings = """select * from listings"""
df_data_listings = pd.read_sql(query_listings, conn)
df_data_listings.shape

(400, 96)

In [140]:
df_data_listings.head(5)

,index,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,100,1109224,https://www.airbnb.com/rooms/1109224,20160906204935,2016-09-07,4 bedroom Victorian Condo unit,None,"Featuring a fully equipped kitchen, this four-...","Featuring a fully equipped kitchen, this four-...",none,None,None,None,None,None,Terms of the Agreement: 1. The Landlord has t...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,1531239,https://www.airbnb.com/users/show/1531239,Lita,2011-12-23,"Boston, Massachusetts, United States",0,within an hour,100%,100%,f,https://a2.muscache.com/im/users/1531239/profi...,https://a2.muscache.com/im/users/1531239/profi...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"South Huntington Avenue, Boston, MA 02130, Uni...",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.320511,-71.112158,t,Apartment,Entire home/apt,8,2.0,4.0,6.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$429.00,"$2,699.00","$7,999.00",$400.00,None,6,$15.00,3,60,today,None,8,35,65,331,2016-09-06,35,2013-09-02,2016-09-05,91.0,10.0,9.0,9.0,10.0,9.0,9.0,f,None,None,f,strict,f,t,1,0.95
1,101,1067184,https://www.airbnb.com/rooms/1067184,20160906204935,2016-09-07,Lovely bedroom/use of whole apt.,None,"I have a room available in a cozy, spacious, f...","I have a room available in a cozy, spacious, f...",none,None,None,None,None,None,Smoke-free house.,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,848706,https://www.airbnb.com/users/show/848706,Phyllis,2011-07-21,"Boston, Massachusetts, United States","Originally from Massachusetts, but lived away ...",within a day,90%,62%,f,https://a2.muscache.com/im/users/848706/profil...,https://a2.muscache.com/im/users/848706/profil...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Jamaica Street, Boston, MA 02130, United States",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.306333,-71.119025,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$95.00,$635.00,None,None,None,1,$10.00,2,1125,a week ago,None,21,51,81,356,2016-09-06,53,2013-05-21,2016-09-02,95.0,9.0,9.0,10.0,9.0,10.0,9.0,f,None,None,f,flexible,f,f,1,1.32
2,102,13215952,https://www.airbnb.com/rooms/13215952,20160906204935,2016-09-07,The Blue Grotto,"A cozy retreat just over the hill from ""downto...",The room has a comfortable double bed. You can...,"A cozy retreat just over the hill from ""downto...",none,"Jamaica Plain (JP) mixes young & old, gay & st...",None,You're less than 10 minutes walk from either t...,You have access to the kitchen with its stash ...,I'm delighted to chat over a cuppa something o...,"You can smoke on the back porch. Smallish, we...",https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,19798741,https://www.airbnb.com/users/show/19798741,Pam,2014-08-10,"Boston, Massachusetts, United States",I'm a natural explorer who delights in wanderi...,within a day,80%,90%,f,https://a0.muscache.com/im/users/19798741/prof...,https://a0.muscache.com/im/users/19798741/prof...,Jamaica Plain,2,2,"['email', 'phone', 'reviews', 'kba']",t,t,"John A Andrew Street, Boston, MA 02130, United...",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.309921,-71.110727,t,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{""Wireless Internet"",Kitchen,""Smoking Allowed""...",NaN,$69.00,None,None,None,$20.00,1,$0.00,1,7,a week ago,None,0,0,0,0,2016-09-06,0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,None,None,f,flexible,f,f,2,NaN
3,103,777903,https://www.airbnb.com/rooms/777903,20160906204935,2016-09-07,A suburban feel in the city,None,My wife and i are empy nesters who enjoy meeti...,My wife and i are empy nesters who enjoy meeti...,none,Quiet surburban neighborhood feel with many gr...,None,It is a 20 minute to Jamaica Plain Center wher...,None,None,Not many rules except there is no smoking,https://a2.muscache.com/im/pictures/10886815/3...,https://a2.muscache.com/im/pictures/10886815/3...,https://a2.muscache.com/im/pictures/10886815/3...,https://a2.muscache.com/im/pictures/10886815/3...,4102281,https://www.airbnb.com/users/show/4102281,Monroe,2012-11-09,"Boston, Massachusetts, United States",None,within an hour,90%,69%,f,https://a1.muscache.com/im/users/4102281/profi...,https://a1.muscache.com/im/users/4102281/profi...,Jamaica Plain,1,1,"['email', 'phone', 'reviews', 'kba']",t,t,"Hopkins Rd, Boston, MA 02130, United States",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.307574,-71.134630,t,House,Private room,2,NaN,1.0,1.0,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",NaN,$85.00,$565.00,None,None,None,1,$0.00,1,1125,2 weeks ago,None,26,56,86,361,2016-09-06,17,2013-06-07,2016-08-22,94.0,10.0,9.0,10.0,10.0,10.0,10.0,f,None,None,f,moderate,f,f,1,0.43
4,104,1301500,https://www.airbnb.com/rooms/1301500,20160906204935,2016-09-07,Stay in Boston's best neighborhood!,"Jamaica Plain, or JP, is a great landing spot ...",This is a private bedroom in my two bedroom ho...,"Jamaica Plain, or JP, is a great landing spot ...",none,"My neighborhood is adorable, my apt a 2 min wa...",I get up early to meditate but I am quiet.,"Orange Line, Green Street Stop Buses (phone n...",Feel free to use the Kitchen (fridge/stove) an...,"I teach yoga and have a busy schedule, so I am...",Please keep common areas clean and do your dis...,https://a2.muscache.com/im/pictures/bda55784-e...,https://a2.muscache.com/im/pictures/bda55784-e...,https://a2.muscache.com/im/pictures/bda55784-e...,https://a2.muscache.com/im/pictures/bda55784-e...,3578624,https://www.airbnb.com/users/show/3578624,Karen,2012-09-15,"Boston, Massachusetts, United States",I am a full time yoga and meditation teacher i...,within a few hours,100%,100%,t,https://a2.muscache.com/im/pictures/0ff922b8-5...,https://a2.muscache.com/im/pictures/0ff922b8-5...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Green Street, Boston, MA 02130, United States",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.309977,-71.109620,t,Apartment,Private room,2,1.0,1.0,1.0,Futon,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$69.00,$450.00,"$1,500.00",None,$30.00,1,$15.00,3,20,5 days ago,None,5,35,65,65,2016-09-06,13,2015-10-12,2016-08-15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,None,None,f,strict,f,f,1,1.17

In [141]:
def toNZD(x):
    if(x is not None):
        toNumber = float(str(x.replace('$','')[:-3]).replace(',','.'))
        nzd = float(toNumber/1.5)
        toFormat = format(nzd, '.3f').replace('.',',')
        return  toFormat + '.00$'
kolom = ['price','weekly_price','monthly_price','security_deposit','cleaning_fee','extra_people']
for i in kolom:
    df_data_listings[i+str('_in_NZD')] = df_data_listings[i].apply(toNZD)

In [142]:
df_data_listings['price_in_NZD']

0      286,000.00$
1       63,333.00$
2       46,000.00$
3       56,667.00$
4       46,000.00$
          ...
395    181,333.00$
396     56,667.00$
397     46,667.00$
398     66,667.00$
399     72,667.00$
Name: price_in_NZD, Length: 400, dtype: object

In [143]:
df_data_listings['first_review'] = pd.to_datetime(df_data_listings['first_review'], errors='coerce')

In [144]:
df_data_listings.head(3)

,index,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,...,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,price_in_NZD,weekly_price_in_NZD,monthly_price_in_NZD,security_deposit_in_NZD,cleaning_fee_in_NZD,extra_people_in_NZD
0,100,1109224,https://www.airbnb.com/rooms/1109224,20160906204935,2016-09-07,4 bedroom Victorian Condo unit,None,"Featuring a fully equipped kitchen, this four-...","Featuring a fully equipped kitchen, this four-...",none,None,None,None,None,None,Terms of the Agreement: 1. The Landlord has t...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,https://a0.muscache.com/im/pictures/17730638/4...,1531239,https://www.airbnb.com/users/show/1531239,Lita,2011-12-23,"Boston, Massachusetts, United States",0,within an hour,100%,100%,f,https://a2.muscache.com/im/users/1531239/profi...,https://a2.muscache.com/im/users/1531239/profi...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"South Huntington Avenue, Boston, MA 02130, Uni...",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.320511,...,Apartment,Entire home/apt,8,2.0,4.0,6.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$429.00,"$2,699.00","$7,999.00",$400.00,None,6,$15.00,3,60,today,None,8,35,65,331,2016-09-06,35,2013-09-02,2016-09-05,91.0,10.0,9.0,9.0,10.0,9.0,9.0,f,None,None,f,strict,f,t,1,0.95,"286,000.00$","1,799.00$","5,333.00$","266,667.00$",None,"10,000.00$"
1,101,1067184,https://www.airbnb.com/rooms/1067184,20160906204935,2016-09-07,Lovely bedroom/use of whole apt.,None,"I have a room available in a cozy, spacious, f...","I have a room available in a cozy, spacious, f...",none,None,None,None,None,None,Smoke-free house.,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,https://a1.muscache.com/im/pictures/16041990/1...,848706,https://www.airbnb.com/users/show/848706,Phyllis,2011-07-21,"Boston, Massachusetts, United States","Originally from Massachusetts, but lived away ...",within a day,90%,62%,f,https://a2.muscache.com/im/users/848706/profil...,https://a2.muscache.com/im/users/848706/profil...,Jamaica Plain,1,1,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Jamaica Street, Boston, MA 02130, United States",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.306333,...,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$95.00,$635.00,None,None,None,1,$10.00,2,1125,a week ago,None,21,51,81,356,2016-09-06,53,2013-05-21,2016-09-02,95.0,9.0,9.0,10.0,9.0,10.0,9.0,f,None,None,f,flexible,f,f,1,1.32,"63,333.00$","423,333.00$",None,None,None,"6,667.00$"
2,102,13215952,https://www.airbnb.com/rooms/13215952,20160906204935,2016-09-07,The Blue Grotto,"A cozy retreat just over the hill from ""downto...",The room has a comfortable double bed. You can...,"A cozy retreat just over the hill from ""downto...",none,"Jamaica Plain (JP) mixes young & old, gay & st...",None,You're less than 10 minutes walk from either t...,You have access to the kitchen with its stash ...,I'm delighted to chat over a cuppa something o...,"You can smoke on the back porch. Smallish, we...",https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,https://a2.muscache.com/im/pictures/dd81f4ad-5...,19798741,https://www.airbnb.com/users/show/19798741,Pam,2014-08-10,"Boston, Massachusetts, United States",I'm a natural explorer who delights in wanderi...,within a day,80%,90%,f,https://a0.muscache.com/im/users/19798741/prof...,https://a0.muscache.com/im/users/19798741/prof...,Jamaica Plain,2,2,"['email', 'phone', 'reviews', 'kba']",t,t,"John A Andrew Street, Boston, MA 02130, United...",Jamaica Plain,Jamaica Plain,None,Boston,MA,02130,Boston,"Boston, MA",US,United States,42.309921,...,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{""Wireless Internet"",Kitchen,""Smoking Allowed""...",NaN,$69.00,None,None,None,$20.00,1,$0.00,1,7,a week ago,None,0,0,0,0,2016-09-06,0,NaT,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,None,None,f,flexible,f,f,2,NaN,"46,000.00$",None,None,None,"13,333.00$","0,000.00$"

In [145]:
df_data_listings = df_data_listings[df_data_listings['first_review'] < '01-08-2014']

In [146]:
df_data_listings.drop(['listing_url','thumbnail_url','medium_url','picture_url','xl_picture_url','host_url','host_thumbnail_url','host_picture_url'],axis=1, inplace=True)

In [147]:
df_data_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 349
Data columns (total 94 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   index                             48 non-null     int64
 1   id                                48 non-null     int64
 2   scrape_id                         48 non-null     int64
 3   last_scraped                      48 non-null     object
 4   name                              48 non-null     object
 5   summary                           39 non-null     object
 6   space                             47 non-null     object
 7   description                       48 non-null     object
 8   experiences_offered               48 non-null     object
 9   neighborhood_overview             31 non-null     object
 10  notes                             19 non-null     object
 11  transit                           33 non-null     object
 12  access                            32 non-null     object
 13  interaction                       30 non-null     object
 14  house_rules                       46 non-null     object
 15  host_id                           48 non-null     int64
 16  host_name                         48 non-null     object
 17  host_since                        48 non-null     object
 18  host_location                     48 non-null     object
 19  host_about                        45 non-null     object
 20  host_response_time                47 non-null     object
 21  host_response_rate                47 non-null     object
 22  host_acceptance_rate              47 non-null     object
 23  host_is_superhost                 48 non-null     object
 24  host_neighbourhood                48 non-null     object
 25  host_listings_count               48 non-null     int64
 26  host_total_listings_count         48 non-null     int64
 27  host_verifications                48 non-null     object
 28  host_has_profile_pic              48 non-null     object
 29  host_identity_verified            48 non-null     object
 30  street                            48 non-null     object
 31  neighbourhood                     48 non-null     object
 32  neighbourhood_cleansed            48 non-null     object
 33  neighbourhood_group_cleansed      0 non-null      object
 34  city                              48 non-null     object
 35  state                             48 non-null     object
 36  zipcode                           48 non-null     object
 37  market                            48 non-null     object
 38  smart_location                    48 non-null     object
 39  country_code                      48 non-null     object
 40  country                           48 non-null     object
 41  latitude                          48 non-null     float64
 42  longitude                         48 non-null     float64
 43  is_location_exact                 48 non-null     object
 44  property_type                     48 non-null     object
 45  room_type                         48 non-null     object
 46  accommodates                      48 non-null     int64
 47  bathrooms                         47 non-null     float64
 48  bedrooms                          48 non-null     float64
 49  beds                              48 non-null     float64
 50  bed_type                          48 non-null     object
 51  amenities                         48 non-null     object
 52  square_feet                       5 non-null      float64
 53  price                             48 non-null     object
 54  weekly_price                      26 non-null     object
 55  monthly_price                     24 non-null     object
 56  security_deposit                  21 non-null     object
 57  cleaning_fee                      33 non-null     object
 58  guests_included                   48 non-null     int64
 59  extra_people                      48 non-null     object
 60  minimum_nights                    48 non-null     int64
 61  maximum_nights                    48 non-null     int64
 62  calendar_updated                  48 non-null     object
 63  has_availability                  0 non-null      object
 64  availability_30                   48 non-null     int64
 65  availability_60                   48 non-null     int64
 66  availability_90                   48 non-null     int64
 67  availability_365                  48 non-null     int64
 68  calendar_last_scraped             48 non-null     object
 69  number_of_reviews                 48 non-null     int64
 70  first_review                      48 non-null     datetime64[ns]
 71  last_review                       48 non-null     object
 72  review_scores_rating              48 non-null     float64
 73  review_scores_accuracy            48 non-null     float64
 74  review_scores_cleanliness         48 non-null     float64
 75  review_scores_checkin             48 non-null     float64
 76  review_scores_communication       48 non-null     float64
 77  review_scores_location            48 non-null     float64
 78  review_scores_value               48 non-null     float64
 79  requires_license                  48 non-null     object
 80  license                           0 non-null      object
 81  jurisdiction_names                0 non-null      object
 82  instant_bookable                  48 non-null     object
 83  cancellation_policy               48 non-null     object
 84  require_guest_profile_picture     48 non-null     object
 85  require_guest_phone_verification  48 non-null     object
 86  calculated_host_listings_count    48 non-null     int64
 87  reviews_per_month                 48 non-null     float64
 88  price_in_NZD                      48 non-null     object
 89  weekly_price_in_NZD               26 non-null     object
 90  monthly_price_in_NZD              24 non-null     object
 91  security_deposit_in_NZD           21 non-null     object
 92  cleaning_fee_in_NZD               33 non-null     object
 93  extra_people_in_NZD               48 non-null     object
dtypes: datetime64[ns](1), float64(14), int64(16), object(63)
memory usage: 35.6+ KB

In [148]:
conn_dwh = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.
                                               format(credential_db.db_jatimcamp5_DWH_username, 
                                                      credential_db.db_jatimcamp5_DWH_password, 
                                                      credential_db.db_jatimcamp5_DWH_host, 
                                                      credential_db.db_jatimcamp5_DWH_name))

conn_dwh

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_dwh)

In [149]:
df_data_listings.to_sql(con=conn_dwh, name='LISTING_KHISBYALGHOFARI_852', if_exists='replace')

In [153]:
query_table = """show tables;"""
df_data_table = pd.read_sql(query_table,conn_dwh)
df_data_table

               Tables_in_jatimCamp5_dwh
0              FILTER_AbdurrahmanST_137
1        LISTING_AKWILA FELICIANO P_403
2             LISTING_AbdurrahmanST_137
3                     LISTING_CAHYA_995
4           LISTING_KHISBYALGHOFARI_852
5                    LISTING_Nadjih_807
6                      LISTING_Neil_438
7              LISTING_NuraisaNovia_385
8   LISTING_Rahardhiyan Wahyu Putra_639
9                     LISTING_Yosua_786
10                    LISTING_james_200
11                     REVIEW_CAHYA_995
12                    REVIEW_Nadjih_807
13                      REVIEW_Neil_438
14   REVIEW_Rahardhiyan Wahyu Putra_639
15                     REVIEW_Yosua_786
16                     REVIEW_james_200
17                            calendars
18                   calendars_adam_dsi
19                    listing_james_200
20                      reviews_airflow
21                  sample_listing_adam
22                   sample_review_adam

In [154]:
query_reviews = """select * from reviews"""
df_data_reviews = pd.read_sql(query_reviews, conn)
df_data_reviews.shape

(500, 7)

In [155]:
df_data_reviews

,index,listing_id,id,date,reviewer_id,reviewer_name,comments
0,0,1497879,21943405,2014-10-27,19785528,Jose Edwin,El apartamento está perfecto. Es tranquilo y e...
1,1,1497879,22093757,2014-10-29,22488375,Kayla,Sara was beyond nice and very helpful with all...
2,2,1497879,22229170,2014-11-02,12920446,Tim,We arrived on Friday night to be met by Sara. ...
3,3,1497879,22382070,2014-11-04,22359208,Emily,Me and my friend stayed to Sara's apartment on...
4,4,1497879,22435243,2014-11-06,22421241,Kori,Great host! Very accommodating to our late nig...
...,...,...,...,...,...,...,...
495,495,4967219,80493975,2016-06-18,3131401,Suyoung,Easy to communicate with. Family was living ne...
496,496,4967219,82586455,2016-06-28,76611511,Radim,Very clean and nice place in good location. Ea...
497,497,4967219,82840627,2016-06-29,62726948,Nessa,Anthony message me on the day we arrived in Bo...
498,498,4967219,83389402,2016-07-02,64043424,Judith,We only stayed one night in our room. It was c...
499,499,4967219,84187488,2016-07-05,68139947,Imani,This was our first air BnB experience. The loc...

In [156]:
df_data_reviews['reviewer_name'] = df_data_reviews['reviewer_name'].apply(lambda x: x.upper())
df_data_reviews.head(3)

,index,listing_id,id,date,reviewer_id,reviewer_name,comments
0,0,1497879,21943405,2014-10-27,19785528,JOSE EDWIN,El apartamento está perfecto. Es tranquilo y e...
1,1,1497879,22093757,2014-10-29,22488375,KAYLA,Sara was beyond nice and very helpful with all...
2,2,1497879,22229170,2014-11-02,12920446,TIM,We arrived on Friday night to be met by Sara. ...

In [158]:
df_data_reviews['date'] = pd.to_datetime(df_data_reviews['date'], errors='coerce')
df_data_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          500 non-null    int64
 1   listing_id     500 non-null    int64
 2   id             500 non-null    int64
 3   date           500 non-null    datetime64[ns]
 4   reviewer_id    500 non-null    int64
 5   reviewer_name  500 non-null    object
 6   comments       500 non-null    object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 27.5+ KB

In [161]:
df_data_reviews = df_data_reviews[df_data_reviews['date'] > '2014-10-15']
df_data_reviews

,index,listing_id,id,date,reviewer_id,reviewer_name,comments
0,0,1497879,21943405,2014-10-27,19785528,JOSE EDWIN,El apartamento está perfecto. Es tranquilo y e...
1,1,1497879,22093757,2014-10-29,22488375,KAYLA,Sara was beyond nice and very helpful with all...
2,2,1497879,22229170,2014-11-02,12920446,TIM,We arrived on Friday night to be met by Sara. ...
3,3,1497879,22382070,2014-11-04,22359208,EMILY,Me and my friend stayed to Sara's apartment on...
4,4,1497879,22435243,2014-11-06,22421241,KORI,Great host! Very accommodating to our late nig...
...,...,...,...,...,...,...,...
495,495,4967219,80493975,2016-06-18,3131401,SUYOUNG,Easy to communicate with. Family was living ne...
496,496,4967219,82586455,2016-06-28,76611511,RADIM,Very clean and nice place in good location. Ea...
497,497,4967219,82840627,2016-06-29,62726948,NESSA,Anthony message me on the day we arrived in Bo...
498,498,4967219,83389402,2016-07-02,64043424,JUDITH,We only stayed one night in our room. It was c...
499,499,4967219,84187488,2016-07-05,68139947,IMANI,This was our first air BnB experience. The loc...

In [163]:
df_data_reviews.to_sql(con=conn_dwh, name='REVIEW_KHISBYALGHOFARI_852', if_exists='replace')

In [166]:
query_table = """show tables;"""
df_data_table = pd.read_sql(query_table,conn_dwh)
df_data_table

               Tables_in_jatimCamp5_dwh
0              FILTER_AbdurrahmanST_137
1        LISTING_AKWILA FELICIANO P_403
2             LISTING_AbdurrahmanST_137
3                     LISTING_CAHYA_995
4           LISTING_KHISBYALGHOFARI_852
5                    LISTING_Nadjih_807
6                      LISTING_Neil_438
7              LISTING_NuraisaNovia_385
8   LISTING_Rahardhiyan Wahyu Putra_639
9                     LISTING_Yosua_786
10                    LISTING_james_200
11                     REVIEW_CAHYA_995
12           REVIEW_KHISBYALGHOFARI_852
13                    REVIEW_Nadjih_807
14                      REVIEW_Neil_438
15   REVIEW_Rahardhiyan Wahyu Putra_639
16                     REVIEW_Yosua_786
17                     REVIEW_james_200
18                            calendars
19                   calendars_adam_dsi
20                    listing_james_200
21                      reviews_airflow
22                  sample_listing_adam
23                   sample_review_adam